___
# Conceitos Iniciais de Python

Observe que isso não pretende ser uma visão abrangente do Python ou da programação em geral. O objetivo aqui é introduzir as ferramentas que serão utilizadas nas aulas de Cálculo Complementar.


Este *notebook* irá abordar apenas os tópicos básicos em ordem:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [8]:
1 + 1

2

In [9]:
1 * 3

3

In [10]:
1 / 2

0.5

In [12]:
2 ** 4

16

In [13]:
4 % 2

0

In [14]:
5 % 2

1

In [15]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [18]:
# Não é possível iniciar com número ou caracteres especiais
name_of_var = 2

In [19]:
x = 2
y = 3

In [20]:
z = x + y

In [22]:
z

5

### Strings

In [23]:
'aspas simples'

'aspas simples'

In [24]:
"aspas duplas"

'aspas duplas'

### Printing

In [25]:
x = 'hello'

In [26]:
x

'hello'

In [27]:
print(x)

hello

In [28]:
num = 12
name = 'Sam'

In [29]:
print('Meu número é: {one}, e meu nome é: {two}'.format(one=num,two=name))

Meu número é: 12, e meu nome é: Sam

In [30]:
print('Meu número é: {}, e meu nome é: {}'.format(num,name))

Meu número é: 12, e meu nome é: Sam

### Lists

In [31]:
[1,2,3]

[1, 2, 3]

In [32]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [33]:
my_list = ['a','b','c']

In [34]:
my_list.append('d')

In [35]:
my_list

['a', 'b', 'c', 'd']

In [37]:
my_list[0]

'a'

In [38]:
my_list[1]

'b'

In [39]:
my_list[1:]

['b', 'c', 'd']

In [40]:
my_list[-1]

'd'

In [41]:
my_list[0] = 'NEW'

In [42]:
my_list

['NEW', 'b', 'c', 'd']

In [44]:
nest = [1,2,3,[4,5,['target']]]

In [46]:
nest[3]

[4, 5, ['target']]

In [47]:
nest[3][2]

['target']

In [49]:
nest[3][2][0][2]

'r'

### Dictionaries

In [50]:
d = {'key1':'item1','key2':'item2'}

In [51]:
d

{'key1': 'item1', 'key2': 'item2'}

In [52]:
d['key1']

'item1'

### Booleans

In [53]:
True

True

In [54]:
False

False

### Tuples

In [55]:
t = (1,2,3)

In [56]:
t[0]

1

In [57]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [58]:
{1,2,3}

{1, 2, 3}

In [59]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [60]:
1 > 2

False

In [61]:
1 < 2

True

In [62]:
1 >= 1

True

In [63]:
1 <= 4

True

In [64]:
1 == 1

True

In [65]:
'hi' == 'bye'

False

## Logic Operators

In [67]:
(1 > 2) and (2 < 3)

False

In [68]:
(1 > 2) or (2 < 3)

True

In [69]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [70]:
if 1 < 2:
    print('Yep!')

Yep!

In [ ]:
if 1 > 2:
    print('yep!')

In [71]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [72]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [73]:
seq = [1,2,3,4,5]

In [74]:
for item in seq:
    print(item)

1
2
3
4
5

In [75]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [76]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [79]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [80]:
range(5)

range(0, 5)

In [81]:
for i in range(5):
    print(i)

0
1
2
3
4

In [82]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [83]:
x = [1,2,3,4]

In [84]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [85]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [86]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [87]:
my_func

In [88]:
my_func()

default

In [89]:
my_func('new param')

new param

In [ ]:
my_func(param1='new param')

In [90]:
def square(x):
    return x**2

In [91]:
out = square(2)

In [92]:
print(out)

4

## lambda expressions

In [93]:
def times2(var):
    return var*2

In [94]:
times2(2)

4

In [95]:
lambda var: var*2

## map and filter

In [96]:
seq = [1,2,3,4,5]

In [97]:
map(times2,seq)

In [98]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [99]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [100]:
filter(lambda item: item%2 == 0,seq)

In [101]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [102]:
st = 'hello my name is Sam'

In [104]:
st.lower()

'hello my name is sam'

In [105]:
st.upper()

'HELLO MY NAME IS SAM'

In [106]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [107]:
tweet = 'Go Sports! #Sports'

In [108]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [ ]:
tweet.split('#')[1]

In [109]:
d

{'key1': 'item1', 'key2': 'item2'}

In [110]:
d.keys()

dict_keys(['key1', 'key2'])

In [111]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [112]:
lst = [1,2,3]

In [113]:
lst.pop()

3

In [114]:
lst

[1, 2]

In [115]:
'x' in [1,2,3]

False

In [116]:
'x' in ['x','y','z']

True

# Bom Trabalho